<div class="video-call-container">
  <div class="video-header">
    <h4><span *ngIf="roomId">Salle {{ roomId }}</span></h4>
    <button mat-icon-button color="warn" (click)="stopVideoCall()" class="end-call-button" matTooltip="Quitter l'appel">
      <mat-icon>call_end</mat-icon>
    </button>
  </div>

  <div class="video-container" id="video-container">
    <!-- Vidéo locale -->
    <video #localVideoElement autoplay muted playsinline class="video-box local-video"></video>
  </div>

  <div class="room-id-display" *ngIf="roomId && selectedUser">
    <button mat-raised-button color="primary" (click)="sendRoomIdToContact()">
      Envoyer l'id de la salle à {{ selectedUser.firstName }}
    </button>
  </div>

  <div class="room-id-box">
    <span><strong>ID de la salle :</strong> {{ roomId }}</span>
    <button class="copy-button" (click)="copyRoomId()">Copier l'ID</button>
  </div>

  <div *ngIf="showToast" class="toast">ID copié !</div>
  <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
