.container {
  display: flex;
  flex-direction: column;
  background-image: url("/images/chat.jpg");
  border-radius: 20px;
}


.illustration-tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 480px;
  width: 100%;
  padding: 50px;
}

.form-tile .form-container .title {
  text-align: center;
}

.form-tile .form-container .title span {
  color: #007bff;
}

.form-tile .form-container .title span span {
  color: #aa64cd;
}

.form-tile .form-container p {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #333;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.login-card {
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-card-content {
  margin-top: 15px;
}

.full-width {
  width: 100%;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

button[mat-raised-button] {
  width: 50%;
  background-color: #aa64cd;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

button[mat-raised-button][disabled] {
  background-color: #cccccc;
  color: #666666;
}
button[mat-stroked-button] {
  width: 50%;
}

mat-icon-button {
  color: #666;
}

mat-error {
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .main-grid {
    display: flex;
    flex-direction: column;
  }

  .illustration-tile,
  .form-tile {
    width: 100%;
  }

  .form-container {
    max-width: 100%;
  }
}
